# .gcloudignore for OpenSCG Cloud Build
# Directories to ignore
deprecated/
docs/
factory/

.git/
node_modules/
openscg_app/node_modules/
.next/
openscg_app/.next/

# Files to ignore
.clinerules/
pnpm-lock.yaml
pytest.ini
README.md
LICENSE
NOTICE
cloudbuild.yaml
deploy.ps1
deploy-params.yaml
.gitignore
.dockerignore
.gcloudignore
