# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-wheel-metadata/
pip-cache/
*.egg-info/
dist/
build/

# SQLite
*.db
*.db-journal

# Node.js
node_modules/
.next/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log

# Proprietary Code
old code for reference/
